[NetDev]
Name=tunnel-{{ tunnel }}
Kind=l2tp

[L2TP]
TunnelId={{ data.id }}
PeerTunnelId={{ data.peer_id }}
Local={{ data.ip | ansible.utils.ipaddr }}
Remote={{ data.peer_ip | ansible.utils.ipaddr }}
EncapsulationType=udp
UDPSourcePort={{ data.l2tp_port }}
UDPDestinationPort={{ data.l2tp_peer_port }}

[L2TPSession]
Name={{ tunnel }}
SessionId=5{{ data.id }}
PeerSessionId=5{{ data.peer_id }}