[Match]
Name={{ tunnel }}

[Network]
DHCP=no
IPv6AcceptRA=false
KeepConfiguration=static
IPForward=yes
LLDP=yes

[Link]
MTUBytes={{ data.l2tp_mtu }}

{% if l2tp_enable_ip is defined and l2tp_enable_ip is sameas true %}
[Address]
Address={{ data.l2tp_ip | ansible.utils.ipaddr }}/{{ data.l2tp_ip_suffix | int }}
Peer={{ data.l2tp_peer_ip | ansible.utils.ipaddr }}/{{ data.l2tp_ip_suffix | int }}
{% endif %}