all:
  children:
    tunnel:
      children:
        {% for name, tunnel in data.items() %}
        {{- name | indent( width=4) }}:
          hosts:
            {% for host in data[name]['peers'] %}
                {{- host['host'] | indent( width=8) -}}:
            {% endfor  %}
        {% endfor -%}