{{ ansible_managed|comment }}

{% if frr_defaults is defined and frr_defaults|length  %}
frr defaults {{ frr_defaults }}
{% endif %}
hostname {{ ansible_hostname }}
password {{ frr_password }}
log {{ frr_logging }}
!
{% if tunnels is defined and tunnels != [] %}
{% for tunnel in tunnels %}
interface {{ tunnel }}
  link-detect
{% endfor %}
{% endif %}
!
interface dummy0
  link-detect
  babel split-horizon
  babel wired
!
{% if tunnels is defined and tunnels != [] %}
router babel
  network dummy0
{%  for tunnel in tunnels %}
  network {{ tunnel }}
{%  endfor %}
#  distribute-list babel in
#  ipv6 distribute-list babel in
#  distribute-list babel out
#  ipv6 distribute-list babel out
#  redistribute ipv4 connected
#  redistribute ipv4 static
#  redistribute ipv6 connected
#  redistribute ipv6 static
{% endif %}
!
{% if frr_interfaces is defined and frr_interfaces != {} %}
{%   for iface, iface_data in frr_interfaces.items() %}
{%     if iface_data['vrf'] is defined %}
interface {{ iface }} vrf {{ iface_data['vrf'] }}
{%     else %}
interface {{ iface }}
{%     endif %}
{%     if iface_data['description'] is defined %}
  description {{ iface_data['description'] }}
{%     endif %}
{%     if iface_data['ip'] is defined %}
{%       if iface_data['ip'] is string %}
  ip address {{ iface_data['ip'] }}
{%       elif iface_data['ip'] is iterable %}
{%         for ip in iface_data['ip'] if ip|length %}
  ip address {{ ip }}
{%         endfor %}
{%       endif %}
{%     endif %}
{%     if iface_data['ipv6'] is defined %}
{%       if iface_data['ipv6'] is string %}
  ipv6 address {{ iface_data['ipv6'] }}
{%       elif iface_data['ipv6'] is iterable %}
{%         for ipv6 in iface_data['ipv6'] if ipv6|length %}
  ipv6 address {{ ipv6 }}
{%         endfor %}
{%       endif %}
{%     endif %}
{%     if iface_data['auth'] is defined %}
  ip ospf authentication message-digest
  ip ospf message-digest-key {{ iface_data['auth']['id'] }} md5 {{ iface_data['auth']['key'] }}
{%     endif %}
{%     if iface_data['other'] is defined %}
{%       for option in iface_data['other'] %}
  {{ option }}
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
!
{% if frr_static is defined and frr_static != {} %}
{%   for dest, next_hop in frr_static.items() %}
ip route {{ dest }} {{ next_hop }}
{%   endfor %}
{% endif %}
{% if frr_static_v6 is defined and frr_static_v6 != {} %}
{%   for dest, next_hop in frr_static_v6.items() %}
ipv6 route {{ dest }} {{ next_hop }}
{%   endfor %}
{% endif %}
!
{% if frr_ip_forwarding | default(False) %}
ip forwarding
{% endif %}
{% if frr_ipv6_forwarding | default(False) %}
ipv6 forwarding
{% endif %}
!
{% if frr_nht_resolve_default | default(False) %}
ip nht resolve-via-default
{% endif %}
!
{% if frr_daemons['bgpd'] %}
router bgp {{ fabric_asn }}
  bgp router-id {{ router_id }}
  bgp cluster-id {{ router_id }}
  bgp log-neighbor-changes
  no bgp default ipv4-unicast
  neighbor fabric peer-group
  neighbor fabric remote-as {{ fabric_asn }}
  neighbor fabric capability extended-nexthop
#  neighbor fabric update-source dummy0
{%   for tunnel in tunnels %}
  neighbor {{ tunnel }} interface peer-group fabric
{%   endfor %}
{%   if type == "reflector" %}
  bgp listen range {{ router_id_network_v6 }}/64 peer-group fabric
{%   endif %}
  !
  address-family l2vpn evpn
   neighbor fabric activate
{%   if type == "reflector" %}
   neighbor fabric route-reflector-client
{%   endif %}
{%   if type == "vtep" %}
   advertise-all-vni
{%   endif %}
  exit-address-family
  !
{% endif %}
!
{% if frr_daemons['bfdd'] and frr_daemons['bgpd'] %}
bfd
{%   if frr_bgp is defined and frr_bgp != {} %}
{%     for asn, asn_data in frr_bgp['asns'].items() %}
{%       if asn_data['neighbors'] is defined %}
{%         for neighbor, neighbor_data in asn_data['neighbors'].items() | sort(reverse=True, attribute="1.is_peer_group") %}
{%           if neighbor_data['bfd_peer'] | default(False) %}
  peer {{ neighbor }}
    no shutdown
{%           endif %}
{%           if neighbor_data['bfd_peer_detect_multiplier'] | default(False) %}
    detect-multiplier {{ neighbor_data['bfd_peer_detect_multiplier'] }}
{%           endif %}
{%           if neighbor_data['bfd_peer_receive_interval'] | default(False) %}
    receive-interval {{ neighbor_data['bfd_peer_receive_interval'] }}
{%           endif %}
{%           if neighbor_data['bfd_peer_transmit_interval'] | default(False) %}
    transmit-interval {{ neighbor_data['bfd_peer_transmit_interval'] }}
{%           endif %}
{%           if neighbor_data['bfd_peer_echo_interval'] | default(False) %}
    echo-interval {{ neighbor_data['bfd_peer_echo_interval'] }}
{%           endif %}
{%           if neighbor_data['bfd_peer_echo_mode'] | default(False) %}
    echo-mode
{%           endif %}
{%           if neighbor_data['bfd_peer_passive_mode'] | default(False) %}
    passive-mode
{%           endif %}
{%           if neighbor_data['bfd_peer_minimum_ttl'] | default(False) %}
    minimum-ttl {{ neighbor_data['bfd_peer_minimum_ttl'] }}
{%           endif %}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
!
{% if frr_prefix_list is defined and frr_prefix_list != {} %}
{%   for prefix_list_name, sequences in frr_prefix_list.items() %}
{%     for seq, seq_data in sequences.items() %}
{%       if seq_data['prefix'] is defined %}
{%         if seq_data['match'] is defined %}
ip prefix-list {{ prefix_list_name }} seq {{ seq }} {{ seq_data['prefix'] }} {{ seq_data['match'] }}
{%         else %}
ip prefix-list {{ prefix_list_name }} seq {{ seq }} {{ seq_data['prefix'] }}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% if frr_prefix_list_v6 is defined and frr_prefix_list_v6 != {} %}
{%   for prefix_list_name, sequences in frr_prefix_list_v6.items() %}
{%     for seq, seq_data in sequences.items() %}
{%       if seq_data['prefix'] is defined %}
{%         if seq_data['match'] is defined %}
ipv6 prefix-list {{ prefix_list_name }} seq {{ seq }} {{ seq_data['prefix'] }} {{ seq_data['match'] }}
{%         else %}
ipv6 prefix-list {{ prefix_list_name }} seq {{ seq }} {{ seq_data['prefix'] }}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% if frr_route_map is defined and frr_route_map != [] %}
{%   for map_name, sequences in frr_route_map.items() %}
{%     for seq, seq_data in sequences.items() %}
route-map {{ map_name }} {{ seq }}
{%       if seq_data['interface'] is defined %}
  match interface {{ seq_data['interface'] }}
{%       endif %}
{%       if seq_data['prefix_list'] is defined %}
  match ip address prefix-list {{ seq_data['prefix_list'] }}
{%       endif %}
{%       if seq_data['community'] is defined %}
  set community {{ seq_data['community'] }} additive
{%       endif %}
{%       if seq_data['origin'] is defined %}
  set origin {{ seq_data['origin'] }}
{%       endif %}
!
{%     endfor %}
{%   endfor %}
{% endif %}
!
{% if frr_access_list is defined and frr_access_list != [] %}
{%   for ace in frr_access_list %}
access-list {{ ace }}
{%   endfor %}
{% endif %}
!
{% if frr_access_list_v6 is defined and frr_access_list_v6 != [] %}
{%   for ace in frr_access_list_v6 %}
ipv6 access-list {{ ace }}
{%   endfor %}
{% endif %}
!