[NetDev]
Name={{ data.wg_int }}
Kind=wireguard
Description=WireGuard tunnel {{ data.tunnel_name }}

[WireGuard]
ListenPort={{ data.wg_port }}
PrivateKey={{ wireguard_private_key.stdout }}

[WireGuardPeer]
PublicKey={{ hostvars[data.peer].wireguard_public_key.stdout }}
PresharedKey={{ tunnels_key[tunnel] }}
AllowedIPs={{ wireguard_network_prefix | ansible.utils.ipaddr }}/64
Endpoint={{ hostvars[data.peer].ansible_host }}:{{ data.wg_port }}
PersistentKeepalive=25