[Match]
Name={{ data.wg_int }}

[Network]
DHCP=no
IPv6AcceptRA=false
KeepConfiguration=static
L2TP=tunnel-{{ tunnel }}

[Address]
Address={{ data.ip | ansible.utils.ipaddr }}/{{ data.ip_suffix | int }}
Peer={{ data.peer_ip | ansible.utils.ipaddr }}/{{ data.ip_suffix | int }}
